table{ width: 100%; }
tr {border: 2px solid #AEAEAE;}
.tr1 {border-bottom: 0 solid #AEAEAE;}
.tr2 {border-top: 0 solid #FFFFFF;}

th.sortable
    {
        color: #666;
        cursor: pointer;
        text-decoration: underline;
    }

        th.sortable:hover
        {
            color: black;
        }

    .sorted-asc, .sorted-desc
    {
        color: black;
        background-color: cadetblue;
    }