@import '/assets/application-8b0cd7e75bb6e10c50ad7d51865ee367.css';
body{position:relative;}
.tab {
    background-color: rgb(235, 245, 247);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input{height: 30px;}
h1 {
    text-align: center;
    margin: 15px;
    font-size: 25px;
}
h2 {
    font-size: 20px;
table {
  width: 100%;
}
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  max-width: 100%;
}
.modal-lg {
  width: 100%;
}
.modal-lg .modal-content {
  overflow: auto;
}